<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="imu_length" value="0.001" />
    <xacro:property name="imu_width" value="0.001" />
    <xacro:property name="imu_height" value="0.001" />

    <xacro:macro name="imu_plugin" params="robot_name">
        <link name="imu_link">
            <visual>
                <geometry>
                    <box size="${imu_length} ${imu_width} ${imu_height}" />
                </geometry>
                <material name="green" />
            </visual>
            <collision>
                <geometry>
                    <box size="${imu_length} ${imu_width} ${imu_height}" />
                </geometry>
            </collision>
            <xacro:box_inertia m="0.01" l="${imu_length}" w="${imu_width}" h="${imu_height}" xyz="0 0 0" rpy="0 0 0" />
        </link>

        <joint name="base_imu_joint" type="fixed">
            <parent link="base_link" />
            <child link="imu_link" />
            <origin xyz="0 0 0" rpy="0 0 0" />
        </joint>

        <gazebo reference="imu_link">
            <material>Gazebo/Green</material>
            <sensor name="imu_sensor" type="imu">
                <pose>0 0 0 0 0 0</pose>
                <always_on>true</always_on>
                <visualize>true</visualize>
                <update_rate>100</update_rate>
                <imu>
                    <orientation>
                        <x>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>2e-3</stddev>
                            </noise>
                        </x>
                        <y>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>2e-3</stddev>
                            </noise>
                        </y>
                        <z>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>2e-3</stddev>
                            </noise>
                        </z>
                    </orientation>
                    <angular_velocity>
                        <x>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>2e-4</stddev>
                            </noise>
                        </x>
                        <y>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>2e-4</stddev>
                            </noise>
                        </y>
                        <z>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>2e-4</stddev>
                            </noise>
                        </z>
                    </angular_velocity>
                    <linear_acceleration>
                        <x>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>1.7e-2</stddev>
                            </noise>
                        </x>
                        <y>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>1.7e-2</stddev>
                            </noise>
                        </y>
                        <z>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>1.7e-2</stddev>
                            </noise>
                        </z>
                    </linear_acceleration>
                </imu>
                <plugin name="imu" filename="libgazebo_ros_imu_sensor.so">
                    <initial_orientation_as_reference>false</initial_orientation_as_reference>
                    <ros>
                        <namespace>${robot_name}</namespace>
                        <remapping>~/out:=imu</remapping>
                    </ros>
                    <frame_name>${robot_name}/imu_link</frame_name>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>


</robot>